
@import "reset.less";

body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	color: #444;
}

h1
{
	font-size: 18px;
	text-transform: uppercase;
}

h2
{
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}