
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Let's React</title>
	@Styles.Render("~/styles/app.min.css")

	@RenderSection("styles", false)

</head>
<body>
    <div> 
		@RenderBody()
    </div>

	@RenderSection("scripts", false)

</body>
</html>
